body {
  background-color: aqua;
}

.name-card {
  background-color: blueviolet;
  margin: 0 auto;
}

.welcome-part {
  background-color: antiquewhite;
  width: 95%;
  height: 100%;
}

.left-part {
  background-color: brown;
  float: left;
  width: 50%;
  height: 100vh;
  
}

.right-part {
  background-color: firebrick;
  float: right;
  width: 50%;
  height: 100vh;
}